
.App {
  text-align: center;
  background-color: #0A2536;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #0A2536;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D3D3D3;
}

.App-link {
  color: #407ae5;
}

/* Animations removed for minimal UI */
